#homePage {
    background-color: #ECF0F1;
}

.carousel-item {
    height: 400px;
    width: 100%;
}

.carousel-item img {
    height: 100%;
    width: 100%;
}

#card {
    height: auto;
    min-height: 400px;
    margin-bottom: 20px;
    box-shadow: darkgray 1px 10px 80px 1px
}

#card img{
    height:60%;
    min-height:250px;
    object-fit:contain;
    object-position:center;
}

.cardbody {
    height: 40%;
    margin-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 5px;
}


